.footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    height: 10rem;
    text-align: center;
    vertical-align: middle;
    background-color: var(--color-cordovan);
    color: #fff;
    padding: 20px;
}