@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --color-primary: #f00;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
}

* {
    font-family: 'Kanit', sans-serif;
}

body, html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

h1 {
    font-size: 8rem;
    font-weight: 700;
}
h2 {
    font-size: 5rem;
    font-weight: 400;
}
h3 {
    font-size: 3rem;
    font-weight: 300;
}
h4 {
    font-size: 2rem;
    font-weight: 200;
}
p {
    font-size: 1.2rem;
    font-weight: 200;
}