.statusParent {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.statusChild {
    border: 1px solid #FDFFFF;
    border-radius: 10px;
    padding: 0 1rem;
    margin: 0 1rem;
    color: #FDFFFF;
}

.status h3 {
    margin: 0;
    text-align: center;
    overflow: hidden;
    line-height: 1;
}
.status h3 span {
    display: block;
    animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}