.heroImage img {
    position: fixed;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 80%;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.flexRow h3 p {
    padding: .5rem;
}

.mainInfo {
    padding-top: 25vh;
    height: 100vh;
}
.mainInfo h1 {
    margin: 0 1rem 1rem 1rem;
}
.mainInfo h3 {
    margin: 0 0 0 1rem;
}

.interactionSection {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.interaction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.interaction > button {

}

.moreInfo {
    height: 100vh;
}

/* media query for desktop */
@media (min-width: 1024px) {
    .mainInfo {
        /* padding-top: 20%; */
    }
    .interaction {
        /* margin-top: 40%; */
    }
}