/* .parentDiv {
    scroll-snap-type: y mandatory;
} */

.heroImage img {
    position: fixed;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 80%;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.flexRow h3 p {
    padding: .5rem;
}

.verticalContainer {
    height: 100vh;
    scroll-snap-align: start;
}
.verticalContainer h1 {
    padding-top: 35vh;
    margin: 0 1rem 1rem 1rem;
    font-weight: bold;
    line-height: normal;
}
.verticalContainer h3 {
    margin: 0 0 0 1rem;
    font-weight: 400;
    font-style: italic;
}
.verticalContainer h4 {
    margin: 0 0 0 1rem;
    font-weight: 200;
    font-style: italic;
}
.verticalContainer p {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
}

.interactionSection {
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.interaction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.iconBounce:hover {
    animation-name: bounce;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-play-state: running;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
@-moz-keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
@-webkit-keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}


/* media query for desktop */
@media (min-width: 1024px) {
    .mainInfo {
        /* padding-top: 20%; */
    }
    .interaction {
        /* margin-top: 40%; */
    }
}