/* .parentDiv {
    
} */

.heroImage img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 80%;
}

.verticalContainerFixed {
    width: 100vw;
    padding: 2rem;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
}
.releaseYearSpace {
    padding: 0 0 0 1rem;
}

.infoFlexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoFlexRow img {
    max-width: 450px;
    max-height: 650px;
    padding: 3rem 4rem 0 0;
}
.infoFlexRow p {
    font-size: medium;
    padding: 3rem 0 3rem 0;
    max-width: 50rem;
}

.verticalContainerDynamic {
    height: 150vh;
    width: 100vw;
    /* padding-top: 7rem; */
    color: #FDFFFF;
    /* background-color: #5139456b; */
    background-color: #101010AA;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
.verticalContainerDynamic hr {
    margin: 0 -2rem 0 -2rem;
    margin-bottom: 2rem;
}

.verticalContainerFixed {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
.stylizedTitleBG {
    margin-top: 50vh;
    width:fit-content;
    padding: 1rem;
    /* border-radius: 20px; */
    /* backdrop-filter: invert(80%) brightness(100%); */
}
.verticalContainerFixed h1 {
    font-style: italic;
    text-transform: uppercase;
    line-height: .85;
    /* width: min-content; */
}

.verticalContainerFixed h4 {
    font-weight: 200;
    font-style: italic;
}
.verticalContainerFixed p {
    font-family: "Prompt", sans-serif;
    font-weight: 200;
}

.lengthInfo {
    padding: 0 0 0 1rem;
    font-style: italic;
}

.infoSection {
    padding: 0 8rem;
}

.titleBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-top: 3rem;
    text-align: center;
}
.titleBar h2 {
    padding-right: 0;
    line-height: .9;
}
.titleBar h3 {
    text-align: center;
}

.genreTag {
    padding: 1rem 1rem 0 0;
}
.genreTag h4 {
    border: #FDFFFF 1px solid;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0 .6rem;
}

.moreInfoSection {
    padding-left: 2rem;
}
.moreInfoButton {
    background-color: var(--color-indianred);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.statusSectionTop {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    /* width: 100%; */
    /* display: flex;
    justify-content: right;
    align-items: center; */
}

.iconBounce:hover {
    animation-name: bounce;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-play-state: running;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
@-moz-keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
@-webkit-keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}


/* media query for desktop */
@media (min-width: 1024px) {
    .heroImage img {
        position: fixed;
        z-index: -1;
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
        opacity: 80%;
    }

    .titleBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        padding-top: 6rem;
    }
    .titleBar h2 {
        padding-right: 2rem;
    }

    .mainInfo {
        /* padding-top: 20%; */
    }
    .interaction {
        /* margin-top: 40%; */
    }
}

/* media query for tablet */
/* @media (min-width: 768px) and (max-width: 1023px) {
    
} */

/* media query for mobile */
@media (max-width: 640px) {
    .verticalContainerFixed, .verticalContainerDynamic {
        padding: 1rem;
    }
    .verticalContainerDynamic hr {
        margin: 0 -1rem 0 -1rem;
    }
    .stylizedTitleBG {
        margin-top: 30vh;
        width:fit-content;
    }
    .infoSection {
        padding: 0 2rem;
    }
    .infoFlexRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infoFlexRow img {
        padding: 3rem 0 0 0;
        max-width: 100%;
    }
}